.skeleton {
    background-color: #1a2235;
    background-image: linear-gradient(90deg,
            #1a2235 0px,
            #2a3655 40px,
            #1a2235 80px);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    position: relative;
    overflow: hidden;
}

.skeleton-text {
    height: 16px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.skeleton-circular {
    border-radius: 50%;
}

.skeleton-rectangular {
    border-radius: 8px;
}

@keyframes shimmer {
    0% {
        background-position: -150% 0;
    }

    100% {
        background-position: 150% 0;
    }
}